.body{
  background-color: #000000;
}
.image_container {
  height: 100vh;
  max-height: 800px;
  background-image: url("/robot.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  @media(max-width:991px){
    max-height: 600px;
  }
  @media(max-width:575px){
    max-height: 450px;
  }
}
